.create-employee  {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(24,29,31);
}

.create-employee-title-bl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-employee-title {
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 0.2rem;
  font-weight: 100;
}

.container-h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  border-top: 1px solid white;
}

.isopen {
  animation: slidein 500ms ;
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
    /* width: 10%; */
  }

  100% {
    transform: translateX(0);
    /* width: 100%; */

  }
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: rgb(24,29,31);
  padding: 20px;
  padding-right: 20px;
  color: white;
  font-weight: 300;
  width: 33%;
  justify-content: center;
  box-sizing: border-box;
}