.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: white;
  /* border-bottom: 1px solid black; */
  /* width: 100%; */
  box-shadow: 0px 1px 1px grey;
  position: relative;

}

.logo {
  height: 120px;
}

.title {
  font-family: 'baskerville';
  font-weight: 500;
  font-size:70px;
  color:rgb(24,29,31);
  letter-spacing: 0.5rem;

}

.btn-create {
  /* background-color: rgb(147, 173, 24); Green light */
  background-color: white;
  color: rgb(24,29,31);
  padding: 15px 32px;
  text-align: center;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 2px 1px 5px 1px grey; */
  border: 1px solid rgb(24,29,31);
  transition: all 200ms ;	
}

.btn-create:hover {
  background-color: rgb(24,29,31);
  color: white;
  /* letter-spacing: 0.1rem; */

}
